.User_Info_div{
    box-sizing:border-box;
    width: 100%;
    height: 50%;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 10px;
    overflow: hidden;
}
.CCC{
    box-sizing:border-box;
}

.Main_div{
    width: 100%;
    height: 45%;
    background-color: white;
}
.User_Avatar{
    margin-top: 5px;
}
.User_Info{
    margin-top: 5px;
}

.Main_div>ul>li{
    font-size: 25px;
    padding-bottom: 15px;
}

span{
    display: flex;
    justify-content: space-between;
}

.User_Info::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

