.User_Info_div{
    width: 100%;
    height: 50%;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 10px;
    overflow: hidden;
}
.Main_div{
    width: 100%;
    height: 45%;
    background-color: white;
}
.User_Avatar{
    position:relative;
    top:20px;   
    left:20px;
    border: 1px solid black;
    width: 190px;
    height: 310px;
    float:left;
}
.User_Info{
    padding-top:50px;
    width: 700px;
    height: 100%;
    float: right;
    overflow:none;
}

.Main_div>ul>li{
    font-size: 25px;
    padding-bottom: 15px;
}

span{
    display: flex;
    justify-content: space-between;
}

.User_Info::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
