node_modules/
.env
server/config/config.json
server/config/db.js
yarn.lock
package-lock.json
grading/usercode/*/*.cpp
grading/usercode/*/*.log
grading/problem/*/in/*.in
grading/problem/*/result/*.result