.table{
    border-collapse: separate;
    border-spacing: 0;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid rgb(0, 0, 0);
    border-left: 1px solid rgb(0, 0, 0);
    margin : 20px 10px;
    margin:auto;
}

.thid {
  width: 50px;
  padding: 5px;
  font-weight: bold;
  vertical-align: top;
  border-right: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  border-top: 1px solid rgb(0, 0, 0);
  border-left: 1px solid rgb(0, 0, 0);
  background: rgb(109, 57, 41);
}

.thtitle {
  width: 450px;
  padding: 5px;
  font-weight: bold;
  vertical-align: top;
  border-right: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  border-top: 1px solid rgb(0, 0, 0);
  border-left: 1px solid rgb(0, 0, 0);
  background: rgb(109, 57, 41);
}

.th {
    width: 50px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-right: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    border-top: 1px solid rgb(0, 0, 0);
    border-left: 1px solid rgb(0, 0, 0);
    background: rgb(109, 57, 41);
  }

.td {
    width: 50px;
    padding: 10px;
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #eee;
  }

  .tdtitle {
    width: 450px;
    padding: 10px;
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #eee;
    font:bold;
    text-align: center;

  }

  .tdid{
    width: 50px;
    padding: 10px;
    vertical-align: top;
    border-right: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);;
    background: rgb(109, 57, 41);
    text-align: center;
  }

  .button{
    float: right;
    background: #eee;
    width: 100px;
    height: 50px;
    font-size: large;
  }

  a:link{color: #000;}

  a:visited { color:rgb(185, 127, 219); }