.communityapp{
  margin: 0 auto;
  float: none;
  text-align: center;
}
.app{
  display: inline-block;
  width: 66.66666667%;
}

.posttable{
  width: 100%;
  font-size: medium;
}
/*머리*/
.posttable thead th {
    width: 50px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    text-align: center;
  }

  .posttable .thiD{
    width: 5%;
  }

  .posttable .Title{
    width: 50%;
  }

  .posttable .Name{
    width: 10%;
  }

  .posttable .View{
    width: 10%;
  }


  .posttable .Date{
    width: 10%;
  }

/*몸체*/
  .posttable tbody td {
    width: 50px;
    padding: 10px;
    vertical-align: top;
    background: #eee;
    text-align: center;
  }

  .posttable .tdiD{
    width: 5%;
  }


/*버튼*/
  a:link{color: #000;}
  .backbutton{
    background: black; 
      width: 200px;
      height: 50px;
      font-size: large;
      float: right;
      border: black 1px solid;
      border-radius: 20px;
      margin-bottom: 10px;
      color: white;
  }
    .postbutton{
      background: black;
      color: white;
      width: 200px;
      height: 50px;
      font-size: large;
      float: left;
      border: black 1px solid;
      border-radius: 20px;
      margin-bottom: 10px;
    }
  
/*페이지네이션 용*/
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul.pagination li {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: white;
  }

  ul.pagination li:first-child{
    border-radius: 5px 0 0 5px;
  }

  ul.pagination li:last-child{
    border-radius: 0 5px 5px 0;
  }
  
  ul.pagination li a {
    text-decoration: none;
    color: #337ab7;
    font-size: 1rem;
  }
  
  ul.pagination li.active a {
    color: white;
  }

  ul.pagination li.active {
    background-color: #337ab7;
  }
  
  ul.pagination li a:hover,
  ul.pagination li a.active {
    color: blue;
  }
  
  .page-selection {
    width: 48px;
    height: 30px;
    color: #337ab7;
  }
