.title-input{
    width: 913px;
    height: 50px;
    font-size: 25px;
}

.ck.ck-editor__editable{height: 500px;
width: 900px;}

.submit-button{
    width: 110px;
    height: 40px;
    font-weight: bolder;
    font-size: 20px;
    margin-top: 30px;
    float: right;
}