.Info{
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: rgb(226, 235, 248); 
}

.Info .label{
 font-size:1em;
 margin-left: 20px;
 margin-top: 10px;
 color: black;
}

.Description{
  margin: 10px 0;
  min-height: 300px;
  padding: 10px;
}

.Info .postButton{
  border: 0.5px solid black;
  border-radius: 30px;
  margin-right: 5px;
  background-color: black;
  color: white;
  padding: 0;
  text-align: center;
}

.commentInfo{
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: rgb(226, 235, 248); 
}

.commentInfo .label{
  font-size:1em;
  margin-left: 20px;
  margin-top: 10px;
  color: black;
 }

 .commentInfo .button{
  border: 0.5px solid black;
  border-radius: 30px;
  margin-right: 5px;
  background-color: black;
  color: white;
  padding: 0;
  text-align: center;
 }

 .fl{
  margin-top: 5px;
  float: right;
 }

 .comment{
   color: black;
 }

 .bu .button{
  border: 1px solid black;
  margin-right: 5px;
  background-color: black;
  color: white;
  padding: 0;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
 }

 .back{
  background-color: black;
  font-size: large;
  float: right;
  border: black 1px solid;
  border-radius: 20px;
  margin-bottom: 10px;
  color: white;
 }