.post-view-wrapper {
    width: 70%;
    margin: 0 auto;
    background-color: aliceblue;
  }
  
  .post-view-go-list-btn {
    border: 0;
    padding: 10px;
    background-color: #ffd9d9;
  }
  
  .post-view-row {
    margin: 10px 0;
    padding: 5px;
    display: flex;
  }
  
  .post-view-row > label:first-child {
    margin: 10px 0;
    padding: 5px;
    width: 30%;
    font-weight: bold;
  }

  .post-view-row > *:nth-child(2) {
    margin: 10px 0;
    padding: 5px;
    width: 30%;
    font-weight: bold;
  }
  .post-view-row > *:nth-child(3) {
    margin: 10px 0;
    padding: 5px;
    width: 30%;
    font-weight: bold;
  }
  .post-view-row > *:nth-child(4) {
    margin: 10px 0;
    padding: 5px;
    width: 30%;
    font-weight: bold;
  }

  .post-view-row > *:nth-child(4) {
    margin: 10px 0;
    padding: 5px;
    width: 15%;
    font-weight: bold;
  }

  .post-view-row > *:nth-child(5) {
    margin: 10px 0;
    padding: 5px;
    width: 15%;
    font-weight: bold;
  }

.post-view-title{
  margin: 10px 0;
  padding: 5px;
  text-align: left;
}

.post-view-title > label:first-child {
  margin: 10px 0;
  width: 20%;
  padding: 5px;
  font-weight: bold;
}

.post-view-title > *:nth-child(2) {
  margin: 10px 0;
  width: 40%;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
}

  .post-decription{
    margin: 10px 0;
    padding: 10px;
    width: auto;
    min-height: 500px;
  }

  .post-view-wrapper   .ck.ck-editor{
    max-width: 60%;
 
  }
  .ck-editor__editable_inline {
    max-height: 45x;
}

.comment{
  margin: 5px 0;
  padding: 5px;
  border: 2px solid black;
  text-decoration: underline;
}

.comment > .post-view-title > label:first-child{
  font-style: bold;
  width: 40%;
}

.comment >  *:nth-child(2) {
  width: 40%;
}

.comment >  *:nth-child(3) {
  width: 10%;
}

.comment >  *:nth-child(4) {
  width: 10%;
}
.submit-button{
  float:left;
}
.commentdiv{
  width: auto;
  padding-top: 100px;
}

.commentButton{
  text-decoration: underline;
  float:right;
}