.title-input{
    width: 850px;
    height: 50px;
    font-size: 25px;
}
.language-input{
    width: 70px;
    height: 55px;
    font-size: 15px;
}

.form-wrapper .ck.ck-editor__editable{
    height: 500px;
width: 900px;}

.submit-button{
    background: black;
    color: white;
    width: 200px;
    height: 50px;
    font-size: large;
    float: left;
    border: black 1px solid;
    border-radius: 20px;
    margin-bottom: 10px;
}