@font-face {
    font-family: "navfont";
    src: url(../../assets/RioGrande.ttf);
}

a:link { 

color: #ffffff;

text-decoration: none;

}



a:hover {

color: #ffffff;

text-decoration: none;

}

a:active {

color: #ffffff;

text-decoration: none;

}

#logo {
    float:left;
    padding-top: 5px;
}
#logotype{
    color: #222222;
    font-family: navfont;
    font-size: 33px;
}
#rightside{
    float: right;
}
.Info {
    width: 500px;
    float: left;


}

.InfoMsg {
    resize: none;
    width: 500px;
    float: left;
    padding-top: 15px;
    font-size: 30px;
    border: 0px;
    background-color: #A47C6D;
}
.InfoMsg::placeholder{
    color: black;

}
.Info2 {
    float: right;
        padding-top: 15px;
}
.Info2 Button{
    margin-right: 50px;

}
