@font-face {
    font-family: "navfont";
    src: url(../../assets/RioGrande.ttf);
}

a:link { 

color: #000000;
font-weight: bolder;
text-decoration: none;

}



a:hover {

color: #000000;

text-decoration: none;

}

a:visited {

color: #000000;

text-decoration: none;

}

#logo {
    float:left;
    padding-top: 5px;
}
#logotype{
    color: #222222;
    font-family: navfont;
    font-size: 33px;
}

#rightside {
    float: right !important;
    margin-left: auto !important;
}
.Info {
    width: 100%;
    float: left;
    background-color: #A47C6D;
}



#toggleBox{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}
.InfoMsg {
    resize: none;
    width: 500px;
    float: left;
    padding-top: 15px;
    font-size: 30px;
    border: 0px;
    background-color: #A47C6D;
}
.InfoMsg::placeholder{
    color: black;

}
.Info2 {
    float: right;
    padding-top: 15px;
    background-color: #A47C6D;
}
.Info2 Button{
    margin-right: 50px;

}
