@font-face {
    font-family: "navfont";
    src: url(../../assets/RioGrande.ttf);
}
span{
    font-family: navfont;
    color: #222222;
}
a:link { 

color: #ffffff;

text-decoration: none;

}

a:visited {

color: #ffffff;

text-decoration: none;

}

a:hover {

color: #ffffff;

text-decoration: none;

}

a:active {

color: #ffffff;

text-decoration: none;

}

#logo {
    align-items: left;
    float:left;
    margin: 0 200px 0 0 ;
}
#logotype{
    font-family: navfont;
    font-size: 40px;
    position: absolute;
    padding-top: 5%;
}
#rightside{
    align-items: right;
    float: right;
}

#toggleBox{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}
#toggleBox:hover{
    cursor: pointer;
}
#toggleBoxContainer{
    padding-left: 2px;
}

.Info{
    height: 73px;
    width: 30%;
    margin-right: 300px;
    display: absolute;
}
.InfoMsg{
    top: 0;
    resize:none;
    height: 73px;
    width: 100%;
 background-color: #B4845F;
}